@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #FFFDF9;
}

::-webkit-scrollbar {
    width: 5px;
    background: #f7e6e5;
    -webkit-border-radius: 1ex;

  }
  
  ::-webkit-scrollbar-thumb {
    background: #674188;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #674188;
  }